.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
.top{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lobster';
  text-shadow: 3px 0 #232931;
  color: white;
  font-size: 20px;
  position: relative;
  top: 15px;
  background-color: brown;
}
.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 20px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}
.img{
width: 200px
}
.btnn{
  background-color: #4ECCA3;
  font-weight: bold;
  font-size: larger;
  color: white;
  padding: 10px 15px 10px 15px;
  border-radius: 4px;
  border: none;
  display: flex;
  margin: auto;
}